<div class="container myContainer">
  <h3 class="h1">Dictionary</h3>
  <div class="row" id="myFirstRow">
    <div class="col ">
      <Button class="btn btn-warning " id="word">
        word
      </Button>
      <input type="text" id="input">
    </div>
  </div>
  <br />
  <div class="row" id="mySecondRow">
    
      <div class="card" id="paper">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
      </div>
      <div>
      <Button class="btn btn-success" id="Definition">
        Definition
      </Button>
    </div>
  </div>

</div>